@using O365DevBootcamp.Speakers.Controllers
@model List<O365DevBootcamp.Speakers.Controllers.Attendee>

<script>
    window.authConfig = {}
    window.authConfig.endpoints = {};
    window.authConfig.endpoints.graph = "https://graph.microsoft.com";


    function Invite(email, btn) {

        if (btn) {
            $(btn).attr("disabled", true);
        }

        var token = window.localStorage.getItem("graphToken");
        var json = {
            "invitedUserEmailAddress": email,
            inviteRedirectUrl: "https://o365devbootcamp.azurewebsites.net/home/accept?email=" + email,
            "sendInvitationMessage": "true"
        }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            url: "https://graph.microsoft.com/v1.0/invitations",
            dataType: "json",
            crossDomain: true,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Accept': 'application/json'
            }
        }).done(function (response) {
            window.location.href = "/home/Invited?Email=" + email;
        }).fail(function (response) {
            console.log(response);
        });
    }

    function Add(email, name, twitter, blog, picture, btn) {

        if (btn) {
            $(btn).attr("disabled", true);
        }

        var groupId = "4a7880a7-dc5f-487d-8152-ea274f2050d0";
        var token = window.localStorage.getItem("graphToken");

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "https://graph.microsoft.com/v1.0/users?$filter=mail eq '" + email + "'&$top=1",
            dataType: "json",
            headers: {
                'Authorization': 'Bearer ' + token,
                'Accept': 'application/json'
            }
        }).done(function (response) {
            var userId = response.value[0].id;
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: window.authConfig.endpoints.graph + "/v1.0/groups/" + groupId + "/members/$ref",
                data: JSON.stringify(
                    { "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/" + userId }),
                dataType: "json",
                headers: {
                    'Authorization': 'Bearer ' + token,
                    'Accept': 'application/json'
                }
            }).done(function (response) {

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url:
                    "https://graph.microsoft.com/v1.0/sites/melcherit.sharepoint.com,96e8ec8b-5317-4cb6-919f-ebdb0e0231bd,171c4e36-3272-41f2-83ca-03cbad808d60/lists/7e4a822a-91be-493a-a2fe-899f7e667e1e/items",
                    data: JSON.stringify(
                        {
                            "fields": {
                                "Title": name,
                                "Email": email,
                                "Twitter": twitter,
                                "Blog": blog,
                                "Image": picture
                            }
                        }
                    ),
                    dataType: "json",
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Accept': 'application/json'
                    }
                }).done(function (response) {

                    window.location.href = "/home/add?Email=" + email;
                });
            });
        });
    }
</script>

<div class="jumbotron">
    <h1>O365 Development Bootcamp // Checked-in // @DateTime.Now.ToString("dd.MM.yyyy")</h1>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Twitter</th>
                <th>Blog</th>
                <th>Picture</th>
                <th>Invited</th>
                <th>Accepted</th>
                <th>Added</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in Model)
            {
                <tr>
                    <td>@attendee.Fullname</td>
                    <td>@attendee.Email</td>
                    <td>@attendee.Twitter</td>
                    <td>@attendee.Blog</td>
                    <td><img src="@attendee.Picture" height="200" width="200" /></td>
                    <td>@attendee.Invited</td>
                    <td>@attendee.Accepted</td>
                    <td>@attendee.Added</td>
                    <td><button class="btn btn-primary" onclick="Invite('@attendee.Email', this);">Invite</button></td>
                    <td><button class="btn btn-primary" onclick="Add('@attendee.Email', '@attendee.Fullname','@attendee.Twitter','@attendee.Blog','@attendee.Picture', this);">Add</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div id="message"></div>
</div>